<html>
    <head>
        <!--Import Google Icon Font-->
         <link href='https://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/Blog.css">
         <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
         <script>tinymce.init({ selector:'textarea' });</script> 
    
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="purple lighten-3">
        <header>
            <nav>
                <div class="nav-wrapper green accent-3">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right"> 
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin</a></li>
                         <li><a href="About Developer.html">About</a></li> 
                    </ul>
                     <ul id="slide-out" class="side-nav">
                        <li><a class="logout-button" id="logout-thing"></a></li>
                        <li id="currentUser"></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">



                    </div>
                </div>
            </div>

        </main>
        <footer class="page-footer green accent-3">
            <div class="container">
                <p><a href="#">Back to the Top</a></p>

            </div>
            <div class="footercopyright">
                <div class="container">
                    @2016 Sydnie's Blog

                </div>
            </div> 
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script> 
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>

        <script id="welcome-template" type="text/x-handlebars-template">
            <h2>Welcome, {{email}}</h2>
            <button class = "btn btn-large waves-effect waves-light add-blog">Add a new Blog</button>
            <button class = "btn btn-large waves-effect waves-light logout">Logout</button>
        </script>
        
        <script id="add-blog-template" type="text/x-handlebars">
            <h2>Add New Blog</h2>

            <div class="row">
                <form class="col s12 form-add-blog">
                    <div class="row">
                        <div class="input-field col s12">
                        <input id="title" type="text" name="title">
                        <label for="title"></label>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="title" type="text" name="title"></textarea>
                            <label for="title"></label>
                        </div> 
                    
                    <div class="row">

                    <div class="col s12">
                        <p class="right-align"></p>
                        <button class="btn btn-large waves-effect" type="submit" name="action">Submit</button>
                    </div>
            </div>


            </div>

            </form>

        </script>
        <script id="login-template" type="text/x-handlebars-template"> 
            <div class="col s6">
            <h2 class="center-align">Login</h2>

            <div>
            <form class="col s12 form-signin">
            <div class="row">
            <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate"></input>
            <label for="email">Email</label>
            </div>
            </div>
            <div class="row">  
            <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate"> 
            <label for="password">Password</label>
            </div>
            <div class="row">
            <div class="col s12"></div>
            <p class="right-align">
            <button class="btn btn-large waves-light" type="submit" name="action" >Submit</button>
            </p>
            </div>
            </div>
            </form>
            </div>
            </div>
        </script> 
    </body>
</html>                