<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href='https://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blog.css"/>
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="purple lighten-3">
        <Header>
            <nav>
                <div class="nav-wrapper green accent-3">
                    <a href="#" class="brand-logo">Blog</a> 
                    <nav> 
                        <ul class="right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="admin.html">Admin</a></li>
                            <li><a href="About Developer.html">About</a></li>
                        </ul> 
                        <ul id="slide-out" class="side-nav">
                       <li><a href="#!">Blog Posts</a></li>
                       <li id="currentUser"></li>
                        </ul> 
                        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
                </div> 
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog</h1>

                </div>
                <div class="row">
                    <div class="col s12 main-container">

                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer green accent-3">
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    #2016 Sydnie's Blog
                </div>
            </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/Blog.js"></script> 
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javasccript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script> 

        <script id="blogs-template" type="text/x-handlebars-template">
            {{#each posts}}
            <div  class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta"> At {{time}} by {{authorEmail}}</p> 
            <div>{{content}}</div>
            </div>
            {{/each}}
        </script> 
    </body>
</html> 
