<?xml version="1.0" encoding="UTF-8"?>
 <project-private xmlns="http://www.netbeans.org/ns/project-private/1">
     <editor-bookmarks xmlns="http://www.netbeans.org/ns/editor-bookmarks/2" lastBookmarkId="0"/>
     <open-files xmlns="http://www.netbeans.org/ns/projectui-open-files/2">
-        <group>
-            <file>file:/C:/xampp/htdocs/MiniBlog/public_html/css/blog.css</file>
-            <file>file:/C:/xampp/htdocs/MiniBlog/public_html/index.html</file>
-            <file>file:/C:/xampp/htdocs/MiniBlog/public_html/admin.html</file>
-            <file>file:/C:/xampp/htdocs/MiniBlog/public_html/js/blog.js</file>
-            <file>file:/C:/xampp/htdocs/MiniBlog/public_html/js/admin.js</file>
-        </group>
+        <group/>
     </open-files>
 </project-private> 