body{
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
    font-family: 'Rubik One', sans-serif;
    color: purple; 
}  

main{
    flex: 1 0 auto;  
} 

/*Blog Posts*/

.blog-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: purple;
    font-style: italic;
}  